
.main{
    background-color: #383838 ;
    
}
.header{
    background-color: #141414;
    color: #C78FFF;
    font-family: inter;
    font-weight:800;
    display: flex;
    margin: 0;
    align-items: center;
    padding: 1%;
    border-radius: 10px;
}
.logo{
    width: 100%;
}

input[type=text] {
    background-color:#141414;
    padding-left: 2%;
    background-image: url('search.png');
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 1% 20%;
    color: #C78FFF;
    border-style: solid;
    border: none;
    border-bottom:1px solid #C78FFF;
    font-size:150%; 
    margin-left: 10%;
  }

 .post{
    margin: 3% 5%;
    background-color:#141414;
    width:30%;
    text-overflow: wrap-top;
    font-family: Inter;
    padding: 1%;
    border-radius: 10px;
} 
 .map{
     position:fixed;
     width:50%;
     top:30%;
     left:45%;

 }
.name{
    margin-left: 6%;
    font-weight:700;
}
.account{
    margin-left: 25%;
    margin-right: 2%;
    font-weight:800;
}
 .position{
     color: #C78FFF;
     font-weight:800;

     
 }
 .service{
    color: white;
    font-weight:800;

 }

 .timings{
     color: white;
     font-weight:800;
    }
 .location{
     color: white;
     font-weight:800;
    }

 .description{
     color: #C78FFF;
     font-weight:600;
}


